.thonk {
    z-index:1000;
    font-size: 100px;
    position: fixed;
    display: none;
}
.show {
    display: block !important;
}
.topleft {
    top: 0;
    left: 0;
}
.topright {
    top: 0;
    right: 0;
}
.bottomleft {
    bottom: 0;
    left: 0;
}
.bottomright {
    bottom: 0;
    right: 0;
}
.bigboi {
    font-size: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.whodidthis {
    z-index:1000;
    font-size: 80px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100px;
    background: black;
    color: white;
}